.sortIcon {
  display: none;
}

.active {
  color: var(--primary);

  font-weight: bold;
}

.sortName {
  display: none;
}

.active .sortIcon {
  display: block;

  margin-right: 8px;
}

.sort {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;

  button {
    display: grid;
    align-items: center;

    cursor: pointer;

    border: none;
    background: none;

    font-family: var(--font-family);
    font-size: 16px;
    line-height: 22px;
    grid-template-columns: 20px 1fr;
    gap: 8px;

    &:not(.active) {
      grid-template-columns: 1fr;
    }
  }
}
